# .env — Credenciales SQL Server
# Este archivo NO va a Git — está en .gitignore
DB_SERVIDOR=LCP-PAG-PRACTIC
DB_NOMBRE=ACP_DataWarehose_Proyecciones
DB_DRIVER=ODBC Driver 17 for SQL Server
DB_USUARIO=
DB_CLAVE=
